@charset "UTF-8";
/* CSS Document */
body {
	background-image:url(images/bg.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:50% 50%;
	background-size:cover;
}

.header {
	position:fixed;
	top:0px;
	left:0px;
	margin:auto;
	z-index:100000;
	width:100%;
	height:150px;
	background:#fff;
	-moz-box-shadow: 0 0 35px #000;
	-webkit-box-shadow: 0 0 35px #000;
	box-shadow: 0 0 35px #000;
	behavior: url(scripts/pie/PIE.htc);
}

.h_wrapper {
	position:relative;
	margin:auto;
	width:960px;
	z-index:200000;
}

.logo {
	position:fixed;
	margin-left:50px;
	margin-top:15px;
}

.content {
	position:relative;
	min-height:300px;
	width:880px;
	background-color:#FFF;
	margin:auto;
	top:180px;
	-moz-box-shadow: 0 0 35px #000;
	-webkit-box-shadow: 0 0 35px #000;
	box-shadow: 0 0 35px #000;
	behavior: url(scripts/pie/PIE.htc);
	padding:40px;
}

.content p, h1, h2, h3, h4, h5, h6 {
	font-family:Verdana, Geneva, sans-serif;
	margin-top:0;
}

.content p {
	font-size:0.8em;
}

.content_right {
	float:right;
	text-align:left;
	width:600px;
}

.content_left {
	width:280px;
	float:left;
}

.footer {
	position:fixed;
	bottom:0px;
	left:0px;
	margin:auto;
	z-index:100000;
	width:100%;
	height:50px;
	background:#333;
	-moz-box-shadow: 0 0 35px #000;
	-webkit-box-shadow: 0 0 35px #000;
	box-shadow: 0 0 35px #000;
	behavior: url(scripts/pie/PIE.htc);
}

.c_wrap{
	position:relative;
	margin:auto;
	width:960px;
	z-index:200000;
	bottom:0;
}

.footer p {
	font-size:0.7em;
	font-family:Verdana, Geneva, sans-serif;
	color:#fafafa;
}

.footer a {
	color:#bababa;
	text-decoration:none;
}

p#copyright {
	position: relative;
	margin-top: 10px;
	float: left;
	margin-left: 10px;
}

.nav {
}

.clear {
	clear:both;
}
